@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: 'Sarabun', sans-serif;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes slideInUp {
  from { transform: translateY(20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
@keyframes slideInDown {
  from { transform: translateY(-20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
@keyframes slideInRight {
  from { transform: translateX(100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}
@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
.animate-fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}
.animate-slide-in-up {
  animation: slideInUp 0.5s ease-out forwards;
}
.animate-slide-in-down {
  animation: slideInDown 0.3s ease-out forwards;
}
.animate-slide-in-right {
  animation: slideInRight 0.3s ease-out forwards;
}
.animate-fade-out {
  animation: fadeOut 0.5s ease-in forwards;
}
.prose p {
  margin-bottom: 1em;
}
.prose h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 1em;
}
 .prose h3 {
  font-size: 1.25em;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 1em;
}
.prose ul {
  list-style-position: inside;
  list-style-type: disc;
  margin-bottom: 1em;
  padding-left: 1em;
}
 .prose li {
  margin-bottom: 0.5em;
}
